<section id="our-product">
  <div class="container">
    <div class="top text-center">
      <h1>OUR PRODUCTS</h1>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-img-top card-1"></div>
          <div class="card-block">
            <h4 class="card-title">Blue Dream</h4>
            <p class="card-text">
              A big-yielding and rangy Blueberry cross, Blue Dream has a
              wonderful sativa-dominant effects package and retains much of the
              Blueberry taste from its mother.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-img-top card-2"></div>
          <div class="card-block">
            <h4 class="card-title">Girl Scout Cookies</h4>
            <p class="card-text">
              Very little is known about the origin of Girl Scout Cookies. The
              only certainty is it was bred in San Francisco, California,
              sometime in the last couple of years; perhaps 2011 or 2012.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-img-top card-3"></div>
          <div class="card-block">
            <h4 class="card-title">Grand Daddy Purps</h4>
            <p class="card-text">
              Grand Daddy Purps earns high marks for its strong indica effects
              and great medicinal attributes. It was a good purple strain
              regardless and should be picked up if you like indicas or grapey
              flavored strains.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-img-top card-4"></div>
          <div class="card-block">
            <h4 class="card-title">Bubba Kush</h4>
            <p class="card-text">
              Its specific leaf structure, stem thickness, density of flower
              sites and limited node spacing, and dark hues make Bubba Kush
              stand out in any garden. Specifically speaking, it's known for
              large bud structures with hues ranging from purple to green.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-img-top card-5"></div>
          <div class="card-block">
            <h4 class="card-title">Golden Goat</h4>
            <p class="card-text">
              An incredibly sweet and potent strain, Golden Goat is a
              sativa-dominant plant with a strongly cerebral and social effects
              package. Its large yield of tangy buds makes it an excellent
              fusion of production and connoisseur-grade final product.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-img-top card-6"></div>
          <div class="card-block">
            <h4 class="card-title">303 Kush</h4>
            <p class="card-text">
              For lovers of Bubba Kush, this strain is a must-try, especially
              for the aroma and taste package, which is potent and reminds us of
              the best examples of that strain we've ever had. The effect is a
              little more uplifting and active than Bubba traditionally is.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
