<section id="our-product">
  <div class="container">
    <div class="top text-center">
      <h1>OUR PRODUCTS</h1>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-img-top card-1"></div>
          <div class="card-block">
            <h4 class="card-title">NEW TITLE</h4>
            <p class="card-text">
              NEW DESCRIPTION
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-img-top card-2"></div>
          <div class="card-block">
            <h4 class="card-title">NEW TITLE</h4>
            <p class="card-text">
              NEW DESCRIPTION
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-img-top card-3"></div>
          <div class="card-block">
            <h4 class="card-title">NEW TITLE</h4>
            <p class="card-text">
              NEW DESCRIPTION
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-img-top card-4"></div>
          <div class="card-block">
            <h4 class="card-title">NEW TITLE</h4>
            <p class="card-text">
              NEW DESCRIPTION
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-img-top card-5"></div>
          <div class="card-block">
            <h4 class="card-title">NEW TITLE</h4>
            <p class="card-text">
              NEW DESCRIPTION
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-img-top card-6"></div>
          <div class="card-block">
            <h4 class="card-title">NEW TITLE</h4>
            <p class="card-text">
              NEW DESCRIPTION
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
