<div class="tab">
  <input
    id="tab-input"
    type="radio"
    id="{{ order.id }}"
    name="rd"
    (click)="closeExpanded()"
  />
  <label class="tab-label" for="{{ order.id }}"
    >Ordered by {{ order.userId }}</label
  >
  <div class="tab-content">
    <table>
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>{{ order.quantity }}</td>
          <td>
            <ng-container *ngIf="order.complete">
              <span class="badge badge-success">Complete</span>
            </ng-container>
            <ng-container *ngIf="!order.complete">
              <span class="badge badge-danger">Pending</span>
            </ng-container>
          </td>
          <td id="actionBtns">
            <a>
              <button
                class="btn btn-danger btn-sm"
                (click)="onDeleteOrder(order.id)"
              >
                Delete
              </button></a
            >
            <a *ngIf="!order.complete">
              <button
                class="btn btn-primary btn-sm"
                (click)="toggleUpdateOrder()"
              >
                Toggle Update
              </button></a
            >
            <a>
              <button
                class="btn btn-info btn-sm"
                (click)="toggleStockMovements()"
              >
                Toggle Movements
              </button></a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-update-order *ngIf="showUpdate"></app-update-order>
<app-stock-movements *ngIf="showStockMovements"></app-stock-movements>
