<div class="tab">
  <input id="tab-input" type="radio" id="{{ order.id }}" name="rd" />
  <label class="tab-label" for="{{ order.id }}"
    >Ordered {{ order.userId }}</label
  >
  <div class="tab-content">
    <table>
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>{{ order.quantity }}</td>
          <td>{{ order.completed ? 'Complete' : 'Pending' }}</td>
          <td>
            <a>
              <button
                class="btn btn-group-sm"
                (click)="onDeleteOrder(order.id)"
              >
                Delete
              </button></a
            >
          </td>
          <td>
            <a>
              <button
                class="btn btn-group-sm"
                (click)="toggleUpdateOrder(order)"
              >
                Update
              </button></a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-update-order
  *ngIf="showUpdate"
  [order]="order"
  (updateOrder)="fwdUpdateOrder($event)"
></app-update-order>
