<div class="tab">
  <input type="radio" id="rd1" name="rd" />
  <label class="tab-label" for="rd1">Ordered {{ order.title }}</label>
  <div class="tab-content">
    <table>
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Status</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>{{ order.userId }}</td>
          <td>{{ order.completed ? 'Complete' : 'Pending' }}</td>
          <td>
            <a [routerLink]="['/dashboard']" (onClick)="onDeleteOrder()">X</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
