h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}
h2 {
  margin: 0 0 0.5em;
  font-weight: normal;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.row {
  display: flex;
}
.row .col {
  flex: 1;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #1a252f;
}
.tab-label::after {
  content: '\276F';
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 20px;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}
input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
}

#main-btns {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  color: #fff;
  font-weight: bold;
}

.mat-raised-button {
  width: 40vw;
}

table {
  background: #545c5f;
  border-collapse: collapse;
  width: 100%;
}
th {
  border-bottom: 1px solid #364043;
  color: #d0b2a4;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}

tbody tr:hover {
  background: #3c5057;
}

#actionBtns {
  display: flex;
  flex-direction: column;
}

#actionBtns .btn {
  width: -webkit-fill-available;
  padding: 0.1px;
  margin: 5px;
}
