<div class="jumbotron text-center">
  <h1>MDCanna Supply</h1>
  <p class="lead">Welcome to the #1 Medical Cannabis Supply Warehouse</p>
  <div id="top-btns">
    <a [routerLink]="['/register']" class="btn btn-primary">Register</a>
    <a [routerLink]="['/products']" class="btn btn-link">Products</a>
    <a [routerLink]="['/login']" class="btn btn-info">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Top Quality</h3>
    <p>
      When it comes to medicine, we don't mess around. Our cultivators our
      certified and take pride in their harvest.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Security</h3>
    <p>
      Our services are discret and secure. We only employ professionals who take
      pride in what they do.
    </p>
  </div>
  <div class="col-md-4">
    <h3>On-Time Delivery</h3>
    <p>
      Our deliveries are on-time and our drivers are verified professionals.
    </p>
  </div>
</div>
