<div class="jumbotron text-center">
  <h1>MDCanna Supply</h1>
  <p class="lead">Welcome to the #1 Medical Cannabis Supply Warehouse</p>
  <div id="top-btns">
    <a
      *ngIf="!getAuthService().loggedIn()"
      [routerLink]="['/register']"
      class="btn btn-primary"
      >Register</a
    >
    <a [routerLink]="['/products']" class="btn btn-link">Products</a>
    <a
      *ngIf="!getAuthService().loggedIn()"
      [routerLink]="['/login']"
      class="btn btn-info"
      >Login</a
    >
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Top Quality</h3>
    <p>
      ADD NEW TEXT
    </p>
  </div>
  <div class="col-md-4">
    <h3>Security</h3>
    <p>
      ADD NEW TEXT
    </p>
  </div>
  <div class="col-md-4">
    <h3>On-Time Delivery</h3>
    <p>
      ADD NEW TEXT
    </p>
  </div>
</div>
