<h2 class="page-header">Add Stock</h2>
<form (submit)="onStockSubmit()">
  <div class="form-group">
    <label>Product Name</label>
    <select class="form-control" [(ngModel)]="itemId" name="itemId">
      <option selected>Choose your Product</option>
      <option value="Blue Dream">Blue Dream</option>
      <option value="Girl Scout Cookies">Girl Scout Cookies</option>
      <option value="Grand Daddy Purps">Grand Daddy Purps</option>
      <option value="Bubba Kush">Bubba Kush</option>
      <option value="Golder Goat">Golden Goat</option>
      <option value="303 Kush">303 Kush</option>
    </select>
  </div>
  <div class="form-group">
    <label>Quantity</label>
    <input
      type="number"
      [(ngModel)]="quantity"
      name="quantity"
      class="form-control"
    />
  </div>

  <input type="submit" class="btn btn-primary" value="submit" />
</form>
