<div>
  <div class="row">
    <div class="col">
      <div class="tabs">
        <div class="tab">
          <input type="radio" id="close" name="rd" />
          <label class=" tab-close" for="close">ORDERS</label>
        </div>
        <app-order></app-order>
        <!-- <app-order *ngFor="let order of orders" [order]="order">
        </app-order> -->

        <div class="tab">
          <input type="radio" id="close" name="rd" />
          <label for="close" class="tab-close">Close Tab</label>
        </div>
      </div>
    </div>
  </div>
</div>
