<div *ngIf="user">
  <h2 class="page-header">{{ user.fullName }}</h2>
  <ul class="list-group">
    <li class="list-group-item">Email: {{ user.email }}</li>
  </ul>
</div>
<h2 class="page-header">Update Info</h2>
<form (submit)="onUpdateSubmit()">
  <div class="form-group">
    <label>Full Name</label>
    <input
      type="text"
      [(ngModel)]="fullName"
      name="fullName"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" [(ngModel)]="email" name="email" />
  </div>
  
  <input type="submit" class="btn btn-primary" value="submit" />
  <a [routerLink]="['/']" (onclick)="onDeleteAccount()"
    ><button class="btn btn-danger">Delete Account</button></a
  >
</form>
